storage: none
version 5.241.2
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/zeekoget/api/v3/index.json
framework: auto-detect

nuget TaskBuilder.fs ~> 2.2 prerelease
nuget xunit
nuget xunit.runner.visualstudio
nuget FSharpx.Extras
nuget FsToolkit.ErrorHandling
nuget FSharp.Core
nuget System.IO.Pipelines
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Console
group Test
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac
    nuget Logary.Adapters.Facade prerelease
    nuget Expecto.VisualStudio.TestAdapter version_in_path: true
    nuget TaskBuilder.fs
    nuget FSharpx.Extras
    nuget FsToolkit.ErrorHandling

nuget bogus
// [ FAKE GROUP ]
group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    framework: netstandard2.0
    nuget Fake.DotNet.Cli
    nuget MyFakeTools 0.0.16
nuget Fake.DotNet.Paket